html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

#container {
  height: 100%;
  position: relative;
  display: flex; }
  #container .hoopRow {
    background-image: url("../images/rainbow.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%; }

#container2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  #container2 #centerCircle {
    font-family: 'Faster One';
    font-size: 5em;
    text-shadow: 10px 3px #9afbf5; }
